@import "tailwindcss";
@import "@heroui/styles";
@import "./table.css";
@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}


:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    @apply text-4xl font-bold text-foreground leading-tight;
}

h2 {
    @apply text-3xl font-bold text-foreground leading-tight;
}

h3 {
    @apply text-2xl font-semibold text-foreground leading-tight;
}

h4 {
    @apply text-xl font-semibold text-foreground leading-tight;
}

.recharts-wrapper * {
    outline: none !important;
}

